@import '../../../mixin.scss';
@import '../../../styles.scss';

header {
    padding: 37px 100px 37px 100px;
    height: 109.03px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $dark-blue;
    z-index: 999;
    @include dFlex($jc: space-between);
        img {
            height: 38.03px;
            width: 150px;
        }
        menu {
            @include dFlex($jc: space-between,$ai: flex-start, $g: 29px);
            width: 324x;
            height: 32px;
            a {
                color: whitesmoke;
                text-decoration: none;
                font-size: 23px;
                transition: color 0.25s ease-in-out;
                &:hover {
                    color: $blue;
                }
            }
        }
}