<div class="position-wrapper">
    <div class="about-container">
        <div class="about-content">
            <h1 data-aos="fade-up">About me</h1>
            <span data-aos="fade-up">Throughout my career, I have consistently faced new challenges with a high degree of determination. I greatly enjoy learning new things and continuously developing myself. 
                <br> When I'm not moving pixels around my screen, you can find me looking for new projects and outdoor adventures.
            </span>
            <div data-aos="fade-up">
                <img src="../../assets/icons/bulb_icon.svg" alt="">
                <span>Thanks to my creative mindset, I handle even the most demanding challenges in a sructured and solution-oriented manner. </span>
            </div>
            <div data-aos="fade-up">
                <img src="../../assets/icons/puzzle_icon.svg" alt="">
                <span>My strong willingness to learn and discipline enable me to quickly grasp new concepts and adapt swiftly to new requirements and technologies.</span>
            </div>
        </div>
        <div class="img-container" data-aos="fade-left">
            <div class="frame-profile">
                <img class="img-profile" src="../../assets/img/profile-small.png" alt="">
            </div>
            <div class="line"></div>
        </div>
        <img class="shadow" src="../../assets/img/purple_2.png" alt="">
    </div> 
</div>
