<div class="position-wrapper">
    <div class="about-container">
        <div class="about-content">
            <h1>About me</h1>
            <span>Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur. </span>
            <div>
                <img src="../../assets/icons/bulb_icon.svg" alt="">
                <span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </span>
            </div>
            <div>
                <img src="../../assets/icons/puzzle_icon.svg" alt="">
                <span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </span>
            </div>
        </div>
        <div class="img-container">
            <div class="frame-profile">
                <img class="img-profile" src="../../assets/img/profile-small.png" alt="">
            </div>
            <div class="line"></div>
        </div>
        <img class="shadow" src="../../assets/img/purple_4.png" alt="">
    </div> 
</div>
