@import '../../../mixin.scss';
@import '../../../styles.scss';

.info-container {
    @include dFlex($jc: flex-start, $g: 42px);
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin-top: 83px;
    display: flex;
    justify-content: space-between;
        div {
            @include dFlex($g: 42px);
            a {
                width: 30px;
                &:hover {
                    transform: scale(1.2);
                    cursor: pointer;
                }
            }
        }
}

.link-email {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-out;
    font-size: 23px;
    &:hover {
        transform: scale(1.0) !important;
        color: $blue;
    }
}

.line {
    @include line($lw: 100px, $bc: $purple);
}

.info-scroll {
    right: 37px;
    display: flex;
    flex-direction: column;
    gap: 3px;
        span {
            transform: rotate(90deg);
            font-size: 23px;
            width: 176px;
            margin-top: -40px;
        }
        img {
            height: 16px;
        }
}