<div class="position-wrapper">
    <div class="info-container">
        <div data-aos="fade-right">
            <div class="line"></div>
            <a href="https://github.com/MoritzMayerEckardt" target="_blank"><img src="../../../assets/icons/github_icon.svg" alt=""></a>
            <a href="mailto:m.mayereckardt@gmail.com"><img src="../../../assets/icons/email_icon.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/moritz-mayer-eckardt-300a65299/" target="_blank"><img src="../../../assets/icons/linkedin_icon.svg" alt=""></a>
            <a class="link-email" href="mailto:m.mayereckardt@gmail.com">m.mayereckardt&#64;gmail.com</a>
        </div>
        <div class="info-scroll">
            <span>Scroll down</span>
            <img src="../../../assets/icons/arrow_down.svg" alt="">
        </div>
    </div>
</div>


