<div class="position-wrapper">
    <section>
        <div class="headline" data-aos="fade-right">
            <div class="line"></div>
            <h1>Contact</h1>
        </div>
        <div class="contact-content">
            <div class="description" data-aos="fade-right">
                <h2> Need a problem solved? I'm here to help!</h2>
                <span>I'd love to hear from you, learn about your ideas, and contribute to your projects with my skills. If you're looking for a Frontend developer, don't hesitate to reach out.</span>
                <b>Let's create something amazing together!</b>
            </div>
            <div class="contact-form" data-aos="fade-left">
                <app-contactform></app-contactform>
            </div>
        </div>
    </section>
</div>
