@import '../../mixin.scss';
section {
    width: 100%;
    max-width: 1920px;
    padding: 109.03px 100px 0px 100px;
    @include dFlex($ai: flex-start, $jc: space-between);
    .hero-page-text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 920px;
        height: auto;
        gap: 40px;
        padding-top: 136px;
    }
}

.headline-container {
    width: auto;
    height: 172px;
    @include dFlex();
        span {
            transform: rotate(-90deg);
            font-size: 64px;
            font-weight: 400;
        }
        div {
            height: 172px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                color: #4B47FF;
                font-size: 56px;
                font-weight: 400;
                margin-block-start: 0px;
                margin-block-end: 0px;
            }
        }
}

.position-wrapper-images {
    position: relative;
    .img-profile {
        width: auto;
        height: 720px;
        margin-top: -20px;
        margin-left: -48px;
    }
    .img-shadow-blue {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 790.7px;
        height: 721.38px;
        z-index: -1;
    }
    .img-shadow-purple {
        position: absolute;
        top: 0px;
        left: -160px;
        width: 790.7px;
        height: 721.38px;
        z-index: -1;
        transform: rotate(180deg);
    }
}

.img-seperator {
    position: absolute;
    top: 264px;
    width: 100%;
    max-width: 1920px;
}