<div class="position-wrapper">
    <div><app-header></app-header></div>
    <section class="hero-page-main-content">
        <div class="position-wrapper-images">
            <img class="img-profile" src="../../assets/img/profile.png" alt="">
            <img class="img-shadow-blue" src="../../assets/img/blue_shadow_profile.png" alt="">
            <img class="img-shadow-purple" src="../../assets/img/purple_shadow_profile.png" alt="">
        </div>
        <div class="hero-page-text-content">
            <div class="headline-container" data-aos="fade-up">
                <span>I am</span>
                <div>
                    <h1>Moritz Mayer-Eckardt</h1>
                    <h2>FRONTEND DEVELOPER</h2>
                </div>
            </div>
            <a class="btn-blue" href="#contact" data-aos="fade-left">
                <span>Let's talk!</span>
            </a>
        </div>
    </section>
</div>
<div class="position-wrapper">
        <img class="img-seperator" src="../../assets/img/seperator.svg" alt="">
</div>
<div><app-social-media></app-social-media></div>

    

