@import '../../mixin.scss';

.position-wrapper {
    width: 100%;
    height: 100%;
}

.img-profile {
    position: absolute;
    top: 124px;
    left: 47px;
    width: auto;
    height: 640px;
}

.img-shadow-blue {
    position: absolute;
    top: 181.62px;
    left: 40px;
    width: 790.7px;
    height: 721.38px;
    z-index: -1;
}

.img-shadow-purple {
    position: absolute;
    top: 181.62px;
    left: -160px;
    width: 790.7px;
    height: 721.38px;
    z-index: -1;
}

.img-seperator {
    position: absolute;
    top: 256px;
    left: 0;
    width: 100%;
}

.headline-container {
    width: auto;
    height: 172px;
    position: absolute;
    top: 297px;
    right: 184px;
    @include dFlex();
        span {
            transform: rotate(-90deg);
            font-size: 64px;
            font-weight: 400;
        }
        div {
            height: 172px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-weight: 700;
                font-size: 68px;
                margin-block-start: 0px;
                margin-block-end: 0px;
                line-height: 108px;
            }
            h2 {
                color: #4B47FF;
                font-size: 56px;
                font-weight: 400;
                margin-block-start: 0px;
                margin-block-end: 0px;
            }
        }
}