<div class="position-wrapper">
    <div class="skills-container">
        <div class="skills-content">
            <div class="row">
                <div class="skills" *ngFor="let skill of skills | slice:0:4">
                    <img [src]="skill.img" alt="">
                    <span>{{skill.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="skills" *ngFor="let skill of skills | slice:4:8">
                    <img [src]="skill.img" alt="">
                    <span>{{skill.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="skills" *ngFor="let skill of skills | slice:8:10">
                    <img [src]="skill.img" alt="">
                    <span>{{skill.name}}</span>
                </div>
            </div>
        </div>
        <div class="skills-text">
            <div class="skills-description">
                <div class="headline">
                    <h1>My skills</h1>
                    <div class="line"></div>
                </div>
                <span>I have grown my frontend developments skills that have allowed me to create different real projects.</span>
            </div>
            <button class="btn-blue"><span>Let's talk</span></button>
        </div>
        <img class="shadow" src="../../assets/img/blue_3.png" alt="">
    </div>
</div>
