<div class="position-wrapper">
    <div class="skills-container">
        <div class="skills-content" data-aos="zoom-in">
            <div class="row">
                <div class="skills" *ngFor="let skill of skills | slice:0:4">
                    <img [src]="skill.img" alt="">
                    <span>{{skill.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="skills" *ngFor="let skill of skills | slice:4:8">
                    <img [src]="skill.img" alt="">
                    <span>{{skill.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="skills" *ngFor="let skill of skills | slice:8:10">
                    <img [src]="skill.img" alt="">
                    <span>{{skill.name}}</span>
                </div>
            </div>
        </div>
        <div class="skills-text" data-aos="fade-left">
            <div class="skills-description">
                <div class="headline">
                    <h1>My skills</h1>
                    <div class="line"></div>
                </div>
                <span>As a frontend developer, I bring extensive knowledge in multiple skills, which I have acquired through the successful implementation of various individual and group projects.</span>
            </div>
            <a class="btn-blue-large" href="#contact"><span>Get in touch</span></a>
        </div>
        <img class="shadow" src="../../assets/img/blue_3.png" alt="">
    </div>
</div>
