<div class="position-wrapper">
    <section>
        <div class="headline">
            <div class="line-position-wrapper"></div>
            <div class="line-short"></div>
            <h1 data-aos="fade-up">Portfolio</h1>
            <div class="line-long"></div>
        </div>
        <div class="description">
            <span data-aos="fade-up">Explore a selection of my work here - Interact with projects to see my skills in action.</span>
        </div>
        <div class="projects">
            <app-project></app-project>
        </div>
        <img class="shadow" src="../../assets/img/purple_4.png" alt="">
    </section>
</div>
