@import './fonts.scss';
@import './mixin.scss';

$blue: #00BEE8;
$purple: #4B47FF;
$dark-blue: #141D2F;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins';
    background-color: $dark-blue;
    height: 100vh;
    color: white;
    overflow-x: hidden;
}

html, body {
    scroll-behavior: smooth;
}

h1 {
    font-weight: 700;
    font-size: 68px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    line-height: 108px;
}

.position-wrapper {
    @include dFlex();
}

.btn-blue {
    width: 165px;
    height: 58px;
    border: unset;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    z-index: 2;
    background-color: $blue;
    transition: background-color 0.2s ease-out;
    animation: hoverAnimationBtn 2s infinite;
    text-decoration: none;
    @include dFlex();
    &:hover {
        background-color: $purple;
        cursor: pointer;
        animation: hoverAnimationBtnSmall 0.2s forwards;
    }
        span {
            font-size: 23px;
            color: white;
            font-family: 'Poppins';
        }
}

.btn-blue-large {
    width: 200px;
    height: 58px;
    border: unset;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    z-index: 2;
    background-color: $blue;
    transition: background-color 0.2s ease-out;
    text-decoration: none;
    @include dFlex();
    &:hover {
        background-color: $purple;
        cursor: pointer;
        animation: hoverAnimationBtnLarge 0.2s forwards;
    }
        span {
            font-size: 23px;
            color: white;
            font-family: 'Poppins';
        }
}

@keyframes hoverAnimationBtnSmall {
    to {
        transform: translateX(-8px, 8px);
        width: 181px;
        height: 70px;
    }
}

@keyframes hoverAnimationBtnLarge {
    to {
        transform: translateX(-8px, 8px);
        width: 214px;
        height: 70px;
    }
}

@keyframes hoverAnimationBtnSendMessage {
    to {
        transform: translateX(-8px, 8px);
        width: 266px;
        height: 70px;
    }
}

@keyframes hoverAnimationBtn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

* {
    scrollbar-width: auto;
    scrollbar-color: $blue #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $blue;
    border-radius: 20px;
    border: 3px solid #ffffff00;
  }
  
