@import '../../../mixin.scss';
@import '../../../styles.scss';


section {
    @include dFlex($g: 148px);
    flex-direction: column;
    > *:nth-of-type(2) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 160px;
    }
}

.project {
    @include dFlex($jc: flex-end, $g: 160px);
    padding-right: 100px;
    width: 100%;
    .img-container {
        display: flex;
        width: 800px;
        justify-content: center;
        img {
            width: 560px;
        }
    }
}

.description {
    width: 513px;
    height: 339px;
    @include dFlex($jc: space-between);
    flex-direction: column;
        div { 
            &:nth-child(2) {
                @include dFlex($g: 86px, $jc: flex-start);
                width: 100%;
                a {
                    height: 58px;
                    border-radius: 10px;
                    padding: 15px 30px 15px 30px;
                    text-decoration: none;
                    color: white;
                    text-align: center;
                    &:nth-child(1) {
                        @include dFlex();
                        background-color: $purple;
                        width: 152px;
                        transition: background-color 0.25s ease-out;
                            span {
                                font-size: 23px;
                            }
                        &:hover {
                            background-color: $blue;
                            cursor: pointer;
                        }
                    }   
                    &:nth-child(2) {
                        @include dFlex();
                        border: 1px solid $blue;
                        width: 137px;
                        transition: background-color 0.25s ease-out;
                            span {
                                font-size: 23px;
                            }
                        &:hover {
                            background-color: $blue;
                            cursor: pointer;
                        }
                    }    
                }
            }
            &:nth-child(1) {
                h2 {
                    color: $purple;
                    font-size: 32px;
                }
                h3 {
                    color: $blue;
                    font-weight: 400;
                }
            }
        } 
}


.special-description .description {
    @include dFlex($jc: space-between);
    flex-direction: column;
    text-align: right;
        div { 
            &:nth-child(2) {
                @include dFlex($g: 86px, $jc: flex-end);
                width: 100%;
            }
        }   
}

@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

